In [ ]:
CREATE OR REPLACE TABLE Customers (
    Customer_ID INT PRIMARY KEY,
    Customer_Name VARCHAR(100),
    Country VARCHAR(50)
);

In [ ]:
CREATE OR REPLACE TABLE Products (
    Product_ID VARCHAR(10) PRIMARY KEY,
    Product_Name VARCHAR(100),
    Category VARCHAR(50)
);

In [ ]:
CREATE OR REPLACE TABLE Sales_Transactions (
    Transaction_ID INT PRIMARY KEY,
    Customer_ID INT,
    Product_ID VARCHAR(10),
    Sales_Amount DECIMAL(10, 2),
    Transaction_Date DATE,
    FOREIGN KEY (Customer_ID) REFERENCES Customers(Customer_ID),
    FOREIGN KEY (Product_ID) REFERENCES Products(Product_ID)
);

In [ ]:
INSERT INTO Customers (Customer_ID, Customer_Name, Country) VALUES
(1, 'Alice', 'USA'),
(2, 'Srini', 'India'),
(3, 'Charlie', 'UK'),
(4, 'David', 'Australia'),
(5, 'Eve', 'Germany'),
(6, 'Rahul', 'India'),
(7, 'Grace', 'Germany'),
(8, 'Heidi', 'Japan'),
(9, 'Nishant', 'India'),
(10, 'Judy', 'Australia');

In [ ]:
INSERT INTO Products (Product_ID, Product_Name,Category) VALUES

('P01', 'Smartphone Case', 'Mobile Accessories'),

('P02', 'Screen Protector', 'Mobile Accessories'), ('P03', 'Wireless Charger', 'Mobile Accessories'),

('P04', 'Bluetooth Earphones', 'Mobile Accessories'), ('P05', 'Portable Power Bank','Mobile Accessories'), 
('P06', 'Car Phone Mount', 'Mobile Accessories'),

('Pa7', 'Selfie Stick', 'Mobile Accessories'), 
('P08', 'Phone Camera Lens', 'Mobile Accessories'),

('P09', 'Smartwatch', 'Mobile Accessories'),

('P10', 'USB-C Cable', 'MobileÂ Accessories');

In [ ]:
INSERT INTO Sales_Transactions (Transaction_ID, Customer_ID, Product_ID, Sales_Amount, Transaction_Date) VALUES
(1, 1, 'P01', 15.00, '2024-09-01'),
(2, 2, 'P02', 10.00, '2024-09-01'),
(3, 3, 'P03', 25.00, '2024-09-02'),
(4, 4, 'P04', 50.00, '2024-09-02'),
(5, 5, 'P05', 30.00, '2024-09-03'),
(6, 6, 'P06', 20.00, '2024-09-03'),
(7, 7, 'P07', 10.00, '2024-09-04'),
(8, 8, 'P08', 40.00, '2024-09-04'),
(9, 9, 'P09', 100.00, '2024-09-05'),
(10, 10, 'P10', 8.00, '2024-09-05'),
(11, 1, 'P02', 12.00, '2024-09-06'),
(12, 2, 'P03', 22.00, '2024-09-06'),
(13, 3, 'P04', 55.00, '2024-09-07'),
(14, 4, 'P05', 33.00, '2024-09-07'),
(15, 5, 'P06', 18.00, '2024-09-08'),
(16, 6, 'P07', 11.00, '2024-09-08'),
(17, 7, 'P08', 39.00, '2024-09-09'),
(18, 8, 'P09', 95.00, '2024-09-09'),
(19, 9, 'P10', 7.00, '2024-09-10'),
(20, 10, 'P01', 14.00, '2024-09-10'),
(21, 1, 'P03', 26.00, '2024-09-11'),
(22, 2, 'P04', 52.00, '2024-09-11'),
(23, 3, 'P05', 28.00, '2024-09-12'),
(24, 4, 'P06', 19.00, '2024-09-12'),
(25, 5, 'P07', 13.00, '2024-09-13'),
(26, 6, 'P08', 38.00, '2024-09-13'),
(27, 7, 'P09', 90.00, '2024-09-14'),
(28, 8, 'P10', 6.00, '2024-09-14'),
(29, 9, 'P01', 16.00, '2024-09-15'),
(30, 10, 'P02', 11.00, '2024-09-15'),
(31, 1, 'P04', 45.00, '2024-09-15'),
(32, 2, 'P05', 30.00, '2024-09-16'),
(33, 3, 'P06', 20.00, '2024-09-16'),
(34, 4, 'P07', 12.00, '2024-09-17'),
(35, 5, 'P08', 42.00, '2024-09-17'),
(36, 6, 'P09', 105.00, '2024-09-18'),
(37, 7, 'P10', 9.00, '2024-09-18'),
(38, 8, 'P01', 13.00, '2024-09-19'),
(39, 9, 'P02', 9.00, '2024-09-19'),
(40, 10, 'P03', 24.00, '2024-09-20');

In [ ]:
--select * from customers;
--select * from products;
select * from Sales_Transactions;

In [ ]:
select  st.transaction_id,c.customer_name,c.country,p.product_name,p.category,
st.sales_amount,st.transaction_date
from 
Sales_Transactions st
join Customers c on c.customer_id=st.customer_id
join Products p on p.product_id=st.product_id;

In [ ]:
select sum(sales_amount),avg(sales_amount) from Sales_Transactions;

In [ ]:
--select avg(sales_amount) from Sales_Transactions;
select * from Sales_Transactions where sales_amount>(select avg(sales_amount) from Sales_Transactions);

In [ ]:
with avg_sales_amount(avg_sm)
as
(
select avg(sales_amount) from sales_Transactions

)
select * from sales_Transactions st join avg_sales_amount where sales_amount>avg_sm;

In [ ]:
with sales_amount_table as(
select st.sales_amount as sales_amount,c.country as country 


from sales_Transactions st join  customers c on c.customer_id=st.customer_id 

),Japan_avgSales_table as(

select avg(st.sales_amount) as avg_japan_sales from sales_Transactions st join  customers c on c.customer_id=st.customer_id where c.country='Japan'


),Australia_avgSales_table as(

select avg(st.sales_amount) as avg_australia_sales from sales_Transactions st join  customers c on c.customer_id=st.customer_id where c.country='Australia'

)
select * from sales_amount_table smt join Japan_avgSales_table j join Australia_avgSales_table a  where smt.sales_amount between a.avg_australia_sales and j.avg_japan_sales ;

In [ ]:
with total_sales_by_country_table as (

select 
c.country,
p.product_id,
p.product_name,
sum(st.sales_amount) as total_sales_by_country
from sales_transactions st join customers c on c.customer_id=st.customer_id
join products p on p.product_id=st.product_id group by c.country,p.product_id,p.product_name

),total_sales_by_product_table as (
select 
p.product_id,
p.product_name,
sum(st.sales_amount) as total_sales_by_product
from sales_transactions st join products p on st.product_id=p.product_id group by p.product_id,p.product_name
)
select 
tsc.country,
tsc.product_id,
tsc.product_name,
tsc.total_sales_by_country,
tsp.total_sales_by_product,
round((tsc.total_sales_by_country/tsp.total_sales_by_product*100),2) as sales_percentage

from  total_sales_by_country_table tsc join total_sales_by_product_table tsp on tsc.product_id=tsp.product_id;